<!DOCTYPE html>

{% load static %}  <!-- Needed to load all the images, css and java scripts -->

<html>

  <head>
    <title>About</title>
    <!-- To add CSS: <link rel="stylesheet" href="{% static "css/base.css" %}" /> -->
    <!-- To add Java Script: <script src="{% static "js/jquery.js" %}"></script> -->
  </head>

  <body>
    <h1>About Page:</h1>
    {{ boldmessage }} <br />
    <a href="/rango/">Index</a><br />
    <img src="{% static "cymera.jpg" %}" alt = "This is a picture edited by mobile app CYMERA" />  <!-- Syntax to add images -->
  </body>

</html>
