<!DOCTYPE html>

{% load static %}  <!-- Needed to load all the images, css and java scripts -->

<html>

  <head>
    <title>Rango</title>
    <!-- To add CSS: <link rel="stylesheet" href="{% static "css/base.css" %}" /> -->
    <!-- To add Java Script: <script src="{% static "js/jquery.js" %}"></script> -->
  </head>

  <body>
    <h1>Rango says...</h1>
    hello world! <strong>{{ boldmessage }}</strong><br />
    <a href="/rango/about">About</a><br />
    <img src="{% static "jobs.jpg" %}" alt = "Picture of Steve Jobs" />  <!-- Syntax to add images -->
  </body>

</html>
